.tabs {
  margin-bottom: 19px;
}

.spisok {
  margin: 0px;
  margin-bottom: 19px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.element {
  position: relative;
  flex-direction: row;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.element:hover {
  color: var(--blue-color);
}

.activeTab {
  position: absolute;
  left: -3px;
  top: 33px;
  width: 89px;
  height: 4px;
  background: var(--blue-color);
  border-radius: 4px 4px 0px 0px;
  opacity: 0;
}

.border {
  border: 1px solid #bdbdbd;
}
